body {
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

.container {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul.unstyled {
    list-style-type: none;
    display: inline;
    padding: 0;
}

ul.unstyled li {
    display: inline;
    padding: 0 10px 0 0;
}

ul.unstyled li:last-child {
    display: inline;
    padding: 0;
}

ul.unstyled li img {
    width: 32px;
}